/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
.print-only{display:none}
@media print{
    .print-only { display:block}
}
*{margin:0;padding:0;vertical-align:baseline}

/* START RT */
body{
    margin:0;
    height:100%;
    text-align:left;
    color:#333;
    font-family:Georgia,"New Century Schoolbook","Nimbus Roman No9 L",serif;
    font-size:0.8rem;
    line-height:1.5
}
h2 {
	font-family:Tahoma,Geneva,Verdana,sans-serif;
	font-size:1rem;
	font-weight:bold;
	padding:5px 0px;
}
h2.paper-title{text-transform:uppercase}
h2 strong{color:#444}
h3 {
    font-family:Tahoma,Geneva,Verdana,sans-serif;
    font-size:1rem;
    font-weight:400;
    line-height:1
}
h3 span{text-transform:none}
h3 strong{color:#444;font-weight:400}
h4 {
	font-family:Tahoma,Geneva,Verdana,sans-serif;
	font-size:1rem;
	font-weight:bold;
	display:inline;
	position:relative
}
table {font-size:0.8rem}
.experiments{padding:10px 0px}
.experiment{padding:10px 10px;max-height:270px;margin:10px 0;border-style:solid;border-width:1px;border-color:#999}
.experiment-locations table{width:200px;margin:0 0;background:#fbf9f6;color:#444;text-align:center}
.experiment-locations table thead th{background:#ebe1d3}
.light_overlay{
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:black;
	opacity:.2;
	z-index:1001;
}
.light_content {
	display:none;
	position:fixed;
	top:3rem;
	left:3rem;
	bottom:3rem;
	right:3rem;
	margin:0 auto;
	background-color:white;
	box-shadow:2px 2px 20px rgba(0,0,0,.7);
	z-index:1002;
}
.box_overlay{
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.2;
	z-index:1003;
}
.box_content {
	display:none;
	position:fixed;
	top:30px;
	left:30px;
	bottom:30px;
	right:30px;
	margin:auto auto;
	background-color:white;
	box-shadow:2px 2px 20px rgba(0,0,0,.7);
	z-index:1004;
}
.tag {
	font-family:sans-serif;
	font-size:0.7rem;
	position:relative;
	display:inline-block;
	min-height:14px;
	margin:2px 1px;
	padding:0px 4px;
	border:1px solid lightGrey;
	border-radius:2px;
	background-color:#fff;
	-webkit-box-shadow:1px 1px 3px rgba(0,0,0,.3);
	-moz-box-shadow:1px 1px 3px rgba(0,0,0,.3);
	-ms-box-shadow:1px 1px 3px rgba(0,0,0,.3);
	-o-box-shadow:1px 1px 3px rgba(0,0,0,.3);
	-khtml-box-shadow:1px 1px 3px rgba(0,0,0,.3);
	box-shadow:1px 1px 3px rgba(0,0,0,.3);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}
.tag:hover {
	background-color:#ccc;
	border-color:#bbb
}
.tag a{color:#666}
.tag a:hover,.tag a:focus{color:#ed8000;text-decoration:none}

.green {
	border-left:7px solid #8c8;
}
.orange {
	border-left:7px solid #fb8;
}
.red {
	border-left:7px solid #e77;
}

.wrap {min-height: 100%;}

.core {overflow:auto;
	padding-bottom: 100px;}  /* must be same height as the footer */

.footer {position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;
	background-color:black;
}
.abstract{padding:0 0px;text-align:justify;-moz-hyphens:auto;hyphens:auto;
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
		-moz-column-gap:30px; /* Firefox */
		-webkit-column-gap:30px; /* Safari and Chrome */
		column-gap:30px;
}
/* END RT */

fieldset{border:0}

html{-webkit-font-smoothing:antialiased}

a{cursor:pointer;color:#d70;text-decoration:none}
a:hover,a:focus{text-decoration:underline}
a.ninja{color:#444}
a.ninja:hover,a.ninja:focus{color:#ed8000}

.content{position:relative;width:850px;margin:0 auto}
.section{
    margin-top:20px;
}
.content-section{
    margin-top:50px;
    margin-bottom:50px;
    -webkit-box-shadow:inset 0 75px 75px rgba(255,255,255,.95);
    -moz-box-shadow:inset 0 75px 75px rgba(255,255,255,.95);
    -ms-box-shadow:inset 0 75px 75px rgba(255,255,255,.95);
    -o-box-shadow:inset 0 75px 75px rgba(255,255,255,.95);
    -khtml-box-shadow:inset 0 75px 75px rgba(255,255,255,.95);
    box-shadow:inset 0 75px 75px rgba(255,255,255,.95)
}
#header{font-family:Tahoma,Geneva,Verdana,sans-serif}

.fl{float:left!important}
.fr{float:right!important}
#header .content{padding:3rem 0}
#header .fl.ninja:hover,#header .fl.ninja:focus{text-decoration:none}
#header .fr li{display:inline;padding-left:20px}
#header .fr li a{display:inline-block;padding-bottom:1rem;margin-bottom:1px;text-decoration:none}
#header .fr li a:hover,#header .fr li a:focus{margin-bottom:0;border-bottom:1px solid #e5e1dc}
#header .fr li.on a{margin-bottom:0;border-bottom:2px solid #e5e1dc;color:#000}
#header .fr li.on a:hover,#header .fr li.on a:focus{border-color:#ed8000}

.placeholded{color:#444}

#search{
    width:100%;
    padding:10px 80px 10px 20px;
    border:1px solid #e5e1dc;
    font-family:Georgia,"New Century Schoolbook","Nimbus Roman No9 L",serif;
    font-size:1rem;
}
.msie6 #search,.msie7 #search{
    width:850px
}
#home-search{position:relative}
#home-search button{
    position:absolute;right:20px;bottom:10px
}

.paper-list li{position:relative;padding:10px 0px 0px 10px}
