<div class="content-section">
	<table style="width:100%;margin-left:auto;margin-right:auto">
	<tr><td>
		<h3 style="padding-left:4rem;padding-right:4rem;padding-bottom:3rem;line-height:150%;color:grey"><b>Welcome to brainspell!</b> Help us create the first open, human-curated, classification of the neuroimaging literature. You can search for articles to classify or just pick among the randomly selected ones bellow.</h3>
	</td></tr>
	<tr><td>
	<form method="get" action="<!--ROOTDIR-->search"">
		<fieldset class="section" id="home-search">
			<input type="text" id="search" name="query" placeholder="Search articles by title, author, keyword…"/>
			<button style="border:0;top:5px;width:25px;height:25px;background-color:white">
				<img src="<!--ROOTDIR-->img/bt_search.svg" alt="Search" width=25px height=25px/>
			</button>
		</fieldset>
	</form>
	</td></tr>
	</table>
</div>

<div class="content-section">
	<table style="width:100%;margin-left:auto;margin-right:auto;">
	<tr><td style="padding:0.5rem">
	<ul class="paper-list">
	</ul>
	</td></tr>
	</table>
</div>

<script type="text/javascript">
	init();
	function init(){
		console.log("init()");
		// Is JS enabled? Is it a touch device?
		var htmlTag = document.getElementsByTagName('html')[0];
		htmlTag.className = (htmlTag.className + ' ' || '') + 'hasJS';
		if ('ontouchstart' in document.documentElement)
			htmlTag.className = (htmlTag.className + ' ' || '') + 'isTouch';
		
		getarticle();
	}
	function getarticle()
	{
		console.log("Get random article");
		$.ajax({
			type: "GET",
			url: "<!--ROOTDIR-->php/brainspell.php",
			data: {
				action:"get_article",
				command:"random",
				argument:"5",
			},
			async: false,
			error: function(jqXHR, textStatus, errorThrown){ console.log("ERROR: "+textStatus);},
			success:function(data, textStatus, jqXHR){console.log("SUCCESS: "+textStatus);}
		}).done(function( msg )
		{
			var xml=$.parseXML(msg);
			$(xml).find("record").each(function(){
				var newArticle="";
				newArticle+="<li><div class=\"paper-stuff\">\n";
				newArticle+="<h3><a href=\"article/"+$(this).find("PMID").text()+"\">";
				newArticle+=$(this).find("Title").text()+"</a></h3>\n";
				newArticle+="<p class=\"info\">"+$(this).find("Reference").text()+"</p>\n";
				newArticle+="</div></li>\n";
				$(".paper-list").append(newArticle);
			});
		});
	}
</script>
